body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-color: $color-grey;
    color: $color-grey-darker;
  }

  a{
      color: $color-grey-darker;
      text-decoration: none;
  }