//DEFAULT COLOR SCHEME

//misc
$color-white: #fff;
$color-black: #000000;

//backgrounds
$color-grey: #d0cdc9;

//buttons & CTAs
$color-teal-dark: #395664;
$color-orange: #bd7d66;

//text
$color-grey-light: #dbd9d6;
$color-grey-dark: #4d5053;
$color-grey-darker: #373737;