//DEFAULT COLOR SCHEME

//misc
$color-white: #fff;

//backgrounds
$color-grey: #d0cdc9;

//buttons & CTAs
$color-teal-dark: #395664;
$color-orange: #BD7D66;

//text
$color-grey-light: #DBD9D6;
$color-grey-dark: #4D5053;