.customNav {
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    margin-bottom: 50px;
    background: linear-gradient(96deg, $color-grey-darker 0%, #676666 69%, $color-grey-darker 100%);
    box-shadow: 1px 2px 4px 1px $color-grey-dark inset;
}

.customNav__header {
    font-size: 38px;
    line-height: 38px;
    white-space: nowrap;
    color: $color-white;
    text-decoration: none;
}

.customPageWrapper {
    max-width: $max-width;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: auto;
    background-color: $color-white;
}

.customContainer {
    margin: 0 50px;
}

.customLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 99999;
    .customLoader__spinner {
        & > svg {
            width: 70px;
            height: 70px;
            stroke: $color-grey-darker;
        }
        margin-top: 50vh;
        margin-left: 50%;
        transform: translate(-35px, -35px);
    }
}

.customAlert {
    position: absolute;
    top: 105px;
    width: 100%;
    max-width: $max-width;
}
.productItem {
    position: relative;
    width: 340px;
    padding: 20px;
}
.productItem__content {
    width: 100%;
    & > div:last-child {
        padding-top: 10px;
        max-width: 100%;
        word-wrap: break-word;
        text-align: center;
    }
}

.productItem__image {
    position: relative;
    & > img {
        width: 300px;
        height: 300px;
        object-fit: contain;
    }
}

.productItem__title {
    height: 72px;
    font-size: 16px;
    padding: 2px 4px;
    cursor: default;
    background-color: $color-white;
    overflow: hidden;
    overflow-wrap: break-word;
    transition: all 0.3s;
    &.active {
        background-color: $color-grey-darker;
        color: $color-white;
    }
}

.productItem__actionBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    opacity: 0;
    transition: all 1s;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(55, 55, 55, 0.3) 100%);
    pointer-events: none;
    &.active {
        height: 100%;
        opacity: 1;
        pointer-events: all;
        & > div {
            opacity: 1;
        }
    }
    & > div {
        height: 100%;
        position: relative;
        opacity: 0;
        transition: all 0.5s;
        & > div {
            position: absolute;
            width: 100%;
            height: 50px;
            bottom: 20px;
            padding: 10px 10px 5px;
            background-color: $color-white;
            border-left: 1px solid $color-grey-light;
            border-right: 1px solid $color-grey-light;
        }
    }
}

.productItemActionBar__price {
    font-size: 20px;
    font-weight: bold;
    color: $color-grey-darker;
}

.productItemActionBar__add {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 70px;
    padding: 8px 0 0 12px;
    border-radius: 40px;
    background-color: $color-orange;
    box-shadow: 1px 1px 4px 1px $color-grey-darker;
    &:hover{
        cursor: pointer;
        box-shadow: 1px 1px 4px 0 $color-grey-darker;
    }
    & > svg {
        width: 45px;
    }
}

.cartWidget {
    display: flex;
    flex-flow: row nowrap;
    padding: 6px 15px;
    border-radius: 30px;
    &:hover {
        background-color: #4d5053;
    }
    &.hasItems {
        background-color: $color-grey;
    }
    .cartWidget__icon {
        & > svg {
            width: 48px;
            height: 48px;
        }
    }
    .cartWidget__counter {
        margin-left: 10px;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        &.hidden {
            visibility: hidden;
            pointer-events: none;
        }
    }
}
